.bottom-nav{
/* border: 2px solid red; */
/* margin-top: auto; */

position: fixed;
bottom: 0;
width: 90%;
/* margin-bottom: 2vh; */
/* place-items: center; */
/* margin: 0 auto; */

border: 2px solid red;
}

/* .parent-div{
    min-height: 100vh;
    display:  flex;
    flex-direction: column;
} */